@import url('https://unpkg.com/reset-css@5.0.1/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

$white: #fafafa;
$gray1: #f1f1f1;
$gray2: #e1e1e1;
$gray3: #aaaaaa;
$blue1: #648de5;
$blue2: #446bc0;
$blue3: #17212f;
$blue4: #9eb9f5;
$blue5: #121c27;
$blue6: #090e13;
$green: #c6d57e;
$black: #141414;
$red: #d57e7e;

$sm: 577px;
$md: 769px;
$lg: 1025px;
$xl: 1281px;

body {
  transition: background-color 200ms ease;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;

  @media screen and (min-width: $lg) {
    display: grid;
    place-items: center;
  }

  &.dark {
    background: $blue3;
    .switch-theme-button .dark {
      display: none;
    }

    .board,
    .entry {
      background-color: $blue5;
    }

    .color-list {
      background-color: $blue5;
    }

    .board.restart .restart-content {
      background-color: $blue3;
    }

    .entry > div .colors .color {
      background-color: $blue6;

      &.active {
        border-color: $white;
      }
    }

    h3,
    span.id {
      transition: color 200ms ease;
      color: $white;
    }

    button {
      transition-property: background-color, color;
      transition: 200ms ease;
      color: $white;
    }
  }

  &.light {
    background-color: $white;

    .switch-theme-button .light {
      display: none;
    }
  }
}

h3,
h4,
span,
button {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5em;
}

button {
  padding: 0.6rem 1rem;
  background-color: $blue1;
  font-size: 1rem;
  color: $white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $blue2;
  }

  @media screen and (min-width: $md) {
    font-size: 1.2rem;
  }
}

.game-container {
  width: 100%;
  box-sizing: border-box;
  gap: 1.5rem;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  @media screen and (min-width: $lg) {
    height: auto;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .board {
    min-height: 200px;
    max-height: 400px;
    grid-row: span 4;
    flex: 1;
    position: relative;
    background-color: $gray1;
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    align-items: flex-end;
    transition: background-color 200ms ease;

    @media screen and (min-width: $md) {
      padding: 2rem;
    }

    @media screen and (min-width: $lg) {
      max-height: auto;
      min-height: 620px;
    }

    .restart-content {
      display: none;
      transition: background-color 200ms ease;

      h3 {
        font-size: 1rem;
        text-align: center;

        @media screen and (min-width: $md) {
          font-size: 1.2rem;
        }
      }

      .restart-button {
        margin-top: 2rem;
      }

      .colors {
        display: flex;
        gap: 1rem;

        .color {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: $gray2;
        }
      }
    }

    &.restart {
      .trials {
        filter: blur(5px);
      }

      .restart-content {
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        width: calc(100% - 4rem);
        border-radius: 8px;
        padding: 2rem;
        box-sizing: border-box;
        gap: 1rem;
        background: $white;
        transform: translate(-50%, -50%);
      }
    }

    .trials {
      display: flex;
      width: 100%;
      height: 100%;

      overflow-y: auto;
      gap: 1rem;
      flex-direction: column;
      filter: blur(0);
      transition: filter 200ms ease;

      .try {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > span {
          font-size: 1.3rem;

          @media screen and (min-width: $sm) {
            font-size: 2rem;
          }

          &.id {
            width: 30px;

            @media screen and (min-width: $sm) {
              width: 50px;
            }
          }

          &.well-placed {
            color: $green;
          }

          &.wrong-placed {
            color: $red;
          }
        }

        .colors {
          display: flex;
          gap: 1rem;

          .color {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $gray2;

            @media screen and (min-width: $sm) {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }

  .color-list {
    background-color: $gray1;
    border-radius: 8px;
    padding: 1.5rem;
    opacity: 0;
    box-sizing: border-box;
    height: max-content;
    transition-property: background-color, margin-bottom, opacity;
    transition: 200ms ease;

    @media screen and (min-width: $lg) {
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 8px;
      padding: 2rem;
      margin-bottom: 0;
      grid-column: 2;
      opacity: 1;
    }

    &.show {
      opacity: 1;
    }

    h3 {
      font-size: 1rem;

      @media screen and (min-width: $md) {
        font-size: 1.2rem;
      }
    }

    h4 {
      font-size: 1rem;
      color: $gray3;
      margin-top: 0.3rem;

      &:first-of-type {
        margin-top: 1rem;
      }

      &.desktop {
        display: none;
      }

      @media screen and (min-width: $lg) {
        display: block;

        &.desktop {
          display: block;
        }

        &.mobile {
          display: none;
        }
      }
    }

    .colors {
      display: flex;
      margin-top: 1rem;
      justify-content: space-between;

      @media screen and (min-width: $lg) {
        margin-top: 2rem;
      }

      .color {
        position: relative;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        overflow: hidden;
        background-color: $gray2;
        cursor: pointer;

        @media screen and (min-width: $lg) {
          cursor: grab;
        }

        &.dragging {
          cursor: grabbing;
        }
      }
    }
  }

  .entry {
    z-index: 10;
    width: 100%;
    background-color: $gray1;
    border-radius: 8px;
    padding: 1.5rem;
    box-sizing: border-box;
    transition-property: background-color, transform;
    transition: 200ms ease;
    height: max-content;

    @media screen and (min-width: $md) {
      padding: 2rem;
    }

    .error.show {
      display: inline-block;
      margin-top: 1rem;
      color: $red;
    }

    h3 {
      font-size: 1rem;

      @media screen and (min-width: $md) {
        font-size: 1.2rem;
      }
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;

      @media screen and (min-width: $md) {
        gap: 2rem;
        margin-top: 2rem;
      }

      .colors {
        display: flex;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;

        @media screen and (min-width: $lg) {
          cursor: auto;
        }

        .color {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: $gray2;
          transition-property: background-color, border-color;
          transition: 200ms ease;
          border: solid 3px transparent;
          box-sizing: border-box;

          &.active {
            border-color: $black;
          }

          &.dragover {
            border: solid 3px $black;
            box-sizing: border-box;
          }

          @media screen and (min-width: $lg) {
            width: 60px;
            height: 60px;
          }
        }

        + div {
          display: flex;
          gap: 1rem;
          align-items: center;
          color: $gray3;
          justify-content: space-between;
          width: 100%;

          @media screen and (min-width: $lg) {
            justify-content: flex-start;
          }

          [disabled] {
            background-color: $blue4;
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .utils {
    display: flex;
    gap: 1rem;
    position: fixed;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    flex-direction: column;
    z-index: 10;

    @media screen and (min-width: $lg) {
      position: relative;
      gap: 2rem;
      transform: none;
      top: 0;
      left: 0;
      flex-direction: row;
    }

    .refresh-button {
      display: grid;
      place-items: center;
      padding: 1rem;
      width: 60px;
      height: 60px;
    }

    .switch-theme-button {
      width: 60px;
      height: 60px;
      display: grid;
      place-items: center;
      padding: 1rem;
    }
  }
}
